*{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    background-color: #755959;
    color: white;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.std {
    width: 400px;
    height: 50px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #3333335c;
}

.inputs {
    color: black;
    padding: 7px;
    font-size:larger;
    font-weight: lighter;
}

.btn {
    width: 200px;
    height:50px;
    background-color: peachpuff;
    margin-bottom: 1.5rem;
    color: black;
    font-size: large;
    cursor: pointer;
}

.btn:hover {
    background-color: #467e69;
}

.inbox {
    display: flex;
    margin-left: 800px;
    margin-right: 800px;
    width: 100px;
    padding: 10px;
    flex-direction: row !important
}

.delete-btn {
    background-color: red;
    color: beige;
    width: 100px;
    height: 40px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 20px;
}

.delete-btn:hover {
    background-color: #d32f2f;
}

.heading{
    color: rgb(169, 100, 209) !important;
    font-weight: bold;
    font-style: italic;
    font-size: 3rem;
    text-transform: uppercase;
}